@use "variables" as *;
@use "mixins" as *;

.site-footer {
    position: fixed;
    width: 100%;
    bottom: 1.5rem;
    z-index: 10;
    display: flex;
    justify-content: center;
    transition: left 5s ease;

    li {
        list-style: none;
        font-weight: 350;
    }

    a:hover {
        opacity: 0.8;
    }

    img {
        width: 1.1rem;
    }

    ul.social-media {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        margin: 0;
        padding: 0;
    }

    .footer-desktop {
        display: none;
    }
}

@media (min-width: 48em) {
    .site-footer .footer-desktop {
        display: block;
    }

    .site-footer {
        justify-content: space-between;
        width: 95%;
    }

    .footer-desktop ul {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        margin: 0;
    }

    .footer-desktop a,
    .footer-desktop p {
        color: $home-nav-color;
        font-family: $link-font;
        font-size: 0.8rem;
    }
}

.site-footer.pushed {
    left: 19.5rem;
}
