@use "variables" as *;
@use "mixins" as *;

.site-nav {
    position: fixed;
    z-index: 10;
    display: flex;
    flex-direction: row-reverse;
    left: 1.2rem;
    top: 1.3rem;
    transition: left 0.5s ease;
}

.site-nav img {
    // height: 4rem;
    height: 3.2rem;
    filter: brightness(0) invert(1);
    // margin: 1rem 0 0 0.5rem;
    margin: 0.5rem 0 0 0.5rem;
    padding: 1rem;
    vertical-align: bottom;
}

.site-nav a img {
    padding-left: 0;
}

.nav-btn {
    border: none;
    background-color: transparent;
}

.nav-btn img:hover {
    background-color: $hamburger-hover-color;
    border-radius: 50%;
}

// Toggle menu
.site-nav-list {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // width: 27rem;
    width: 19rem;
    height: 97vh;
    margin: 0 1rem 2rem;
    left: -100%;
    background-color: $why-bg-color;
    z-index: 50;
    // border-radius: 3rem;
    border-radius: 1.5rem;

    transition: left 0.5s ease;

    img {
        // width: 1.8rem;
        width: 1.1rem;
        filter: brightness(0) invert(1);
        vertical-align: top;
        margin-right: 0.5rem;
    }

    a {
        color: $white-font-color;
        // font-size: 1.4rem;
        font-size: 0.9rem;
    }

    li {
        list-style-type: none;
        // padding: 1.7rem;
        padding: 1.1rem;
    }

    li:last-of-type {
        border-bottom: none;
    }

    // @include mq($desktop) {
    //     ul {
    //         display: flex;
    //     }
    // }
}

.site-nav.toggled {
    left: 29rem;
}

.site-nav-list.toggled {
    left: 0;
}

.site-nav-top {
    li {
        border-bottom: $border-bottom-color solid 1px;
        padding-left: 0;
    }
}

.site-nav-bottom {
    a,
    p {
        color: $grey-font-color;
        font-family: $link-font;
        // font-size: 18px;
        font-size: 0.8rem;
    }

    li {
        // padding: 7px;
        padding: 5px;
    }
}

// Header in desktop view
// @media (min-width: 72em) {
@media (min-width: 48em) {
    .nav-btn {
        display: none;
    }

    .site-nav {
        left: 3rem;
        top: 1.3rem;
    }

    .site-nav-list {
        background-color: transparent;
        transition: none;
        // left: 13rem;
        left: 10rem;
        top: 0.5rem;
    }

    .site-nav-top {
        display: flex;
        gap: 1rem;
    }

    .site-nav-list img,
    .site-nav-bottom {
        display: none;
    }

    .site-nav-top li {
        border: none;
    }

    .menu-jobs {
        display: none;
    }
}

// Side Navigation
.side-nav {
    position: fixed;
    z-index: 10;
    right: 1.5rem;
    text-align: end;
    display: flex;
    height: 100%;
    align-items: center;

    li {
        list-style: none;
        padding: 8px;
    }

    li a {
        color: $white-font-color;
        padding: 10px;
        // font-size: 1.2rem;
        font-size: 0.8rem;
        font-weight: 200;
        cursor: default;
    }

    li a::after {
        content: "";
        height: 3rem;
        background-color: white;
        position: relative;
        padding: 2px;
        margin-left: 0.5rem;
        // left: 10px;
        border-radius: 2rem;
        cursor: pointer;
    }

    // @media (max-width: 1151px) {
    @media (max-width: 48rem) {
        span {
            display: none;
        }
    }
}
