@use "variables" as *;
@use "mixins" as *;

.site-nav {
    position: fixed;
    z-index: 10;
    display: flex;
    flex-direction: row-reverse;
    left: 1.2rem;
    top: 1.3rem;
    transition: left 0.5s ease;
}

.site-nav:hover {
    opacity: 0.8;
}

.site-nav img {
    height: 3.2rem;
    padding: 1rem;
}

.site-nav a img {
    padding-left: 0;
}

.nav-btn {
    border: none;
    background-color: transparent;
}

.nav-btn:hover {
    background-color: $hamburger-hover-color;
    border-radius: 50%;
    padding: 0;
    margin: 0 0.5rem;
}

// Toggle menu
.site-nav-list {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 18.3rem;
    height: 98.5vh;
    margin: 0 0.5rem;
    left: -100%;
    background-color: $why-bg-color;

    z-index: 50;
    border-radius: 1.5rem;

    transition: left 0.5s ease;

    img {
        width: 1.1rem;
        filter: brightness(0) invert(1);
        vertical-align: top;
        margin-right: 0.5rem;
    }

    a {
        color: $white-font-color;
        font-size: 0.9rem;
    }

    li {
        list-style-type: none;
        padding: 1.1rem;
    }

    li:hover {
        opacity: 0.8;
    }

    li:last-of-type {
        border-bottom: none;
    }
}

.site-nav.toggled {
    left: 20rem;
}

.site-nav-list.toggled {
    left: 0;
}

.site-nav-top {
    li {
        border-bottom: $border-bottom-color solid 1px;
        padding-left: 0;
        margin-right: 0.5rem;
    }
}

.site-nav-bottom {
    a,
    p {
        color: $grey-font-color;
        font-family: $link-font;
        font-size: 0.8rem;
    }

    li {
        padding: 2px;
    }
}

// Header in desktop view
@media (min-width: 48em) {
    .nav-btn {
        display: none;
    }

    .site-nav {
        left: 3rem;
        top: 1.3rem;
    }

    .site-nav-list {
        background-color: transparent;
        transition: none;
        left: 10rem;
        top: 0.5rem;

        a {
            color: $home-nav-color;
        }
    }

    .site-nav-top {
        display: flex;
        gap: 1rem;
        margin-top: 0.5rem;
    }

    .site-nav-list img,
    .site-nav-bottom {
        display: none;
    }

    .site-nav-top li {
        border: none;
    }

    .menu-jobs {
        display: none;
    }
}

// Side Navigation
.side-nav {
    position: fixed;
    z-index: 10;
    right: 1.5rem;
    text-align: end;
    display: flex;
    height: 100%;
    align-items: center;

    li {
        list-style: none;
        padding: 8px;
    }

    li a {
        opacity: 0.8;
        color: $home-nav-color;
        padding: 10px;
        font-size: 0.8rem;
        font-weight: 400;
        cursor: default;
    }

    li a:hover {
        color: $white-font-color;
        font-weight: bold;
    }

    li a::after {
        content: "";
        height: 3rem;
        background-color: $home-nav-color;
        position: relative;
        padding: 2px;
        margin-left: 0.5rem;
        border-radius: 2rem;
        cursor: pointer;
    }

    @media (max-width: 48rem) {
        span {
            display: none;
        }
    }
}
