@use "variables" as *;

// Mixin for toggle menu
@mixin toggle-transition {
    transition: left 5s ease;
}

@mixin pushed-right {
    // left: 28rem;
    left: 20rem;
}

// Mixin for main sections
@mixin section-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    margin: 1rem;
    padding: 5rem 0;
    scroll-snap-align: start;
    // border-radius: 3rem;
    border-radius: 1.5rem;
}

%article-layout {
    position: relative;
    z-index: 2;
    width: $article-width-mobile;
}

%bg-symbol-mobile {
    position: absolute;
    width: 90%;
    z-index: 1;
    right: -10rem;
    top: -4rem;
    transform: rotate(-10deg);
}
