@use "variables" as *;

// Mixin for toggle menu
@mixin toggle-transition {
    transition: left 5s ease;
}

@mixin pushed-right {
    left: 20rem;
}

// Mixin for main sections
@mixin section-layout {
    display: flex;
    height: 98.5vh;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    margin: 1rem 0.5rem;
    padding: 0 2rem 0 1.5rem;
    scroll-snap-align: start;
    border-radius: 1.5rem;
}

%article-layout {
    position: relative;
    z-index: 2;
    // width: $article-width-mobile;
}

%bg-symbol-mobile {
    position: absolute;
    width: 90%;
    z-index: 1;
    right: -45%;
    top: -9%;
    transform: rotate(-10deg);
}
