// Box Sizing Reset
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    height: 100vh;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    overscroll-behavior: none;
}

main {
    margin-top: 0.5rem;
    max-height: 99vh;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
