// Box Sizing Reset
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

// Remove margins on the body and avoid overflow
body {
    margin: 0;
    overscroll-behavior: none;
}

main {
    max-height: 98vh;
    margin-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

    @media (min-width: 72em) {
        max-height: 95vh;
    }
}
