@use "variables" as *;
@use "mixins" as *;

.section {
    @include section-layout;

    img {
        @extend %bg-symbol-mobile;
    }

    .text-content {
        @extend %article-layout;
    }

    @media (min-width: 30em) {
        img {
            width: 80%;
            // right: -17rem;
            // top: -5rem;
            right: -25%;
            top: -13%;
            transform: rotate(-5deg);
        }
    }

    @media (min-width: 48em) {
        .text-content {
            width: $article-width-desktop;
        }

        img {
            width: 50%;
        }

        h2 {
            margin: 1.5rem 0;
        }
    }

    // @media (min-width: 64rem) {
    //     p {
    //         margin-right: $text-margin;
    //     }
    // }
}

.section.pushed {
    left: 19rem;
}

// ----------- Please add your sections below

// Home
.home {
    background-color: $home-bg-color;
    color: $home-font-color;

    h1 {
        font-size: 60px;
        font-style: bold;
        margin-bottom: 0.5rem;

        @media (min-width: 768px) {
            font-style: bold;
        }

        @media (min-width: 1024px) and (max-width: 1920px) {
            font-size: 96px;
            font-style: bold;
        }
    }

    .arrow-icon-container {
        display: inline-block;
        margin-top: 2rem;
    }

    .go-down-btn {
        background-color: $home-font-color;
        border: none;
        border-radius: 50%;
        width: 54px;
        height: 54px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

    .arrow-icon-container:hover .go-down-btn {
        background-color: $home-go-down-button-hover;
        transform: scale(1.1);
    }

    .go-down-btn img {
        position: relative;
        top: 5%;
        left: 2%;
    }
}

// About
.about {
    display: flex;
    flex-direction: column;
    background-color: $about-bg-color;
    color: $white-font-color;

    p {
        font-weight: 300;
    }
}

.more-docs {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 2em;
    gap: 1em;
    width: 57%;
}

.more-docs button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    z-index: 99;
    width: 12em;
    height: 3.8em;
    
}

.more-docs a {
    font-size: 1.2em;
}

button.learn-more a {
    color: $about-bg-color;
    font-weight: bold;
    display: block;
}

button.learn-more {
    border: none;
    width: 12em;
    height: 3.8em;
    transition: transform 0.3s ease;
    opacity: 1; 
}

button.learn-more:hover {
    transform: translateY(-2px);
    opacity: 0.8;
}


.read-docs {
    background-color: $about-bg-color;
    border: 1px solid $white-font-color;
}

.read-docs a {
    color: $white-font-color;
}

// Why
.why {
    background-color: $why-bg-color;
    color: $white-font-color;

    h2 {
    }
    p {
        opacity: 0.8;
        font-weight: 300;
    }
}

// Design

.design {
    display: flex;
    flex-direction: column;
    background-color: $design-bg-color;
    color: $white-font-color;

    h2 {
        color: rgb(19, 25, 44);
        font-weight: 500;
    }

    p {
        color: rgb(35, 44, 71);
    }

    img {
        opacity: 0.45;
        
        filter: brightness(0) saturate(100%) invert(40%) sepia(45%) saturate(350%) hue-rotate(150deg) brightness(82%) contrast(90%);
    }
}

.more-details {
    margin-top: 1em;
    border: none;
}

button.more-details {
    border-radius: 2rem;
    z-index: 99;
    width: 13.5em;
    height: 3.8em;
    background-color: $design-font-color;
    transition: transform 0.3s ease;
    opacity: 1; 
}

button.more-details:hover {
    transform: translateY(-2px);
    opacity: 0.8;
}

.more-details a {
    font-size: 1.2em;
    font-weight: bold;
    color: $white-font-color;
}

// Stay Updated

.stay-updated {
    display: flex;
    flex-direction: column;
    background-color: $stay-bg-color;
    color: $stay-font-color;
}

.get-updates button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    z-index: 99;
    width: 12em;
    height: 3.8em;
    background-color: $stay-button-color;
    border: 0rem;
    transition: transform 0.3s ease;
    opacity: 1; 
}

button.get-updates:hover {
    transform: translateY(-2px);
    opacity: 0.8;
}

.get-updates a {
    color: $html-bg-color;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: bold;
}

