@use "variables" as *;

body,
h1,
h2 {
    font-family: $main-font;
}

h2 {
    // font-size: 3.3rem;
    font-size: 3rem;
    font-weight: 500;
}

p {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: $line-height;
}

a {
    font-family: $link-font;
    text-decoration: none;
}

a:hover,
button:hover {
    cursor: pointer;
}

@media (min-width: 72em) {
    h2 {
        font-size: 4.7rem;
        margin: 0;
    }
}
