html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overscroll-behavior: none;
}

main {
  overflow: hidden;
}

body,
h1,
h2 {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 3.3rem;
  font-weight: 500;
}

p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
}

a {
  font-family: "Roboto Mono", monospace;
  text-decoration: none;
}

a:hover,
button:hover {
  cursor: pointer;
}

@media (min-width: 72em) {
  h2 {
    font-size: 4.7rem;
    margin: 0;
  }
}
.site-footer {
  position: fixed;
  width: 100%;
  bottom: 15px;
  z-index: 10;
  display: flex;
  justify-content: center;
  transition: left 5s ease;
}
.site-footer li {
  list-style: none;
}
.site-footer img {
  width: 1.5rem;
  filter: brightness(0) invert(1);
}
.site-footer ul.social-media {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.site-footer .footer-desktop {
  display: none;
}

@media (min-width: 72em) {
  .site-footer {
    justify-content: space-around;
  }
  .footer-desktop ul {
    display: flex;
    align-items: center;
    gap: 1.8rem;
  }
  .footer-desktop a,
  .footer-desktop p {
    color: rgb(255, 255, 255);
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
  }
}
.site-footer.pushed {
  left: 28rem;
}

.site-nav {
  position: fixed;
  z-index: 10;
  display: flex;
  flex-direction: row-reverse;
  left: 1.2rem;
  top: 1rem;
  transition: left 0.5s ease;
}

.site-nav img {
  height: 4rem;
  filter: brightness(0) invert(1);
  margin: 1rem 0 0 0.5rem;
  padding: 1rem;
  vertical-align: bottom;
}

.site-nav a img {
  padding-left: 0;
}

.nav-btn {
  border: none;
  background-color: transparent;
}

.nav-btn img:hover {
  background-color: rgb(208, 218, 242);
  border-radius: 50%;
}

.site-nav-list {
  background-color: rgb(21, 25, 43);
  left: -100%;
  width: 27rem;
  height: 95vh;
  position: fixed;
  z-index: 50;
  border-radius: 3rem;
  margin: 1rem 1rem 2rem;
  transition: left 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.site-nav-list img {
  width: 1.8rem;
  filter: brightness(0) invert(1);
  vertical-align: top;
  margin-right: 0.5rem;
}
.site-nav-list a {
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
}
.site-nav-list li {
  list-style-type: none;
  padding: 1.7rem;
}
.site-nav-list li:last-of-type {
  border-bottom: none;
}

.site-nav.toggled {
  left: 29rem;
}

.site-nav-list.toggled {
  left: 0;
}

.site-nav-top li {
  border-bottom: rgb(68, 71, 85) solid 1px;
  padding-left: 0;
}

.site-nav-bottom a,
.site-nav-bottom p {
  color: rgb(138, 140, 149);
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
}
.site-nav-bottom li {
  padding: 7px;
}

@media (min-width: 72em) {
  .nav-btn {
    display: none;
  }
  .site-nav-list {
    display: flex;
    background-color: transparent;
    transition: none;
    left: 11rem;
  }
  .site-nav-list img,
  .site-nav-bottom {
    display: none;
  }
  .site-nav-top li {
    border: none;
  }
  .site-nav-top {
    display: flex;
  }
}
.side-nav {
  position: fixed;
  z-index: 10;
  right: 20px;
  text-align: end;
  display: flex;
  height: 100%;
  align-items: center;
}
.side-nav li {
  list-style: none;
  padding: 8px;
}
.side-nav li a {
  color: rgb(255, 255, 255);
  padding: 3px 10px;
  font-size: 1.2rem;
  font-weight: 200;
  cursor: default;
}
.side-nav li a::after {
  content: "";
  height: 2rem;
  background-color: white;
  position: relative;
  padding: 2px;
  left: 10px;
  border-radius: 2rem;
  cursor: pointer;
}
@media (max-width: 1151px) {
  .side-nav span {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
